@import "./../../styles/variables.scss";

.sectionIntro {
  &__number {
    font-family: $gilroy;
    font-size: 24px;
    @include breakpoint(lg) {
      font-size: 28px;
      line-height: 90%;
    }
    &::before {
      display: block;
      position: relative;
      top: 0.7rem;
      left: -3rem;
      width: 2rem;
      height: 1px;
      background-color: #000;
      content: "";
    }
  }
  &__intro {
    font-family: $work-sans;
    display: flex;
    flex-direction: column;
     margin-top: 0.4rem;
    @include breakpoint(lg) {
      flex-direction: row;
      /* align-content: space-between; */
      justify-content: space-between;
    }
    h1 {
      font-family: $gilroy;
      font-size: 40px;
      @include breakpoint(lg) {
        font-size: 60px;
        line-height: 90%;
      }
    }

    &__text {
        width: 100%;
        margin-top: 1rem;

      @include breakpoint(lg){
        width: 60%;
        margin-top: 0rem;
      }


      h3 {
        font-family: $gilroy;
        font-size: 24px;
        font-weight: 200;
      }
      span {
        font-size: 12px;
        @include breakpoint(lg){
          font-size: 14px;
        }
      }
      p {
        font-size: 14px;
        line-height: 1.5em;
        @include breakpoint(lg){
          font-size: 16px;
        }
      }
    }
  }
}
