@import "./../../styles/variables.scss";

.workItem {
    display: flex;
    flex-wrap: wrap;

  &__container {
    cursor: pointer;
    width: 100%;
    margin-top: 1.5rem;

   

    @include breakpoint(md){
        width: 50%;
        margin-top: 3rem;
    }
    @include breakpoint(xl){
        width: 33%;
    }

    &__image {
        width: 100%;
        
    }
    &__text {
      h3 {
          padding-top: 0.9rem;
          font-weight: 700;
          margin: 0;
          word-break: break-word;
          font-size: 1rem;
      }
      span {
        font-size: .7rem;
        line-height: .8rem;
        text-transform: lowercase;
        padding: 0;

      }
    }
  }
}
