@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Questrial&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Extrabold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/Gilroy-Extrabold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/Gilroy-Extrabold.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("./fonts/Gilroy-Extrabold.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}

$work-sans: "Work Sans", sans-serif;
$gilroy: Gilroy, sans-serif;

//CONTAINER
$container-max: 1440px;
//COLORS

$primary: #7987ff;
$secondary: #d3d7f7;
$dark: #0d0d0d;
$light: #ffffff;
$bg: #f8f8f8;
$grey-text: #9b9b9b;
$grey-dark-text: #696969;
$grey-border: #d7d6d6;

//SPACING

$spacing-s: 1rem; //16px
$spacing-m: 1.5rem; //24px
$spacing-l: 2rem; //32px
$spacing-xl: 2.5rem; //40px
$spacing-xxl: 3rem; //48px

//SECTION PADDING
$section-padding-lg: 5rem;
$section-padding-md: 3.5rem;
$section-padding: 3rem;

//BORDER RADIUS
$borderRadius: 12px;

//HEADER
$headerHeight: 60px;

@mixin breakpoint($point) {
  @if $point == md {
    //768
    @media (min-width: 48em) {
      @content;
    }
  }
  @if $point == lg {
    //992
    @media (min-width: 62em) {
      @content;
    }
  }
  @if $point == xl {
    //1200px
    @media (min-width: 75em) {
      @content;
    }
  }
  @if $point == xxl {
    //1400px
    @media (min-width: 87.5em) {
      @content;
    }
  }
  
}
