@import "./../styles/variables.scss";

.header {
  background: $light;
  z-index: 500;
  width: 100%;
  height: $headerHeight;
  padding: 0 1.5rem;
  position: fixed;

  @include breakpoint(md) {
    padding: 0 $headerHeight;
  }
  transition: 0.3s ease all;

  &__content {
    overflow: hidden;
    color: $dark;
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;

    &__logo {
      font-size: 22px;
      font-weight: 600;
      text-decoration: none;
      color: $dark;

      span {
        font-size: 14px;
        font-weight: 300;
        font-style: italic;
        &::before {
          content: "\2022";
        }
      }
    }

    &__nav {
      // top: $headerHeight;
      // right: 100%;
      // bottom: 0;
      // width: 100%;
      // height: 100vh;
      // position: fixed;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // justify-items: center;
      // text-align: center;
      // background: rgba($light, 1);
      // backdrop-filter: blur(2px);
      // transform: translate(0);
      // transition: 0.3s ease transform;
      transform: none;
      flex-direction: row;
      background: transparent;
      width: auto;
      height: 100%;
      position: static;



      @include breakpoint(md) {
        transform: none;
        flex-direction: row;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
      }
      ul {
        list-style: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: $spacing-s;
        font-size: 18px;
        font-weight: 400;


        @include breakpoint(md) {
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
          margin-right: calc(0.5rem + #{$spacing-s});
        }
        li {
          &:not(:last-child) {
            margin-bottom: $spacing-s;
            @include breakpoint(md) {
              margin-bottom: 0;
              margin-right: $spacing-s;
            }
          }
          a {
      
            text-decoration: none;
            color: inherit;
            padding: 0.75rem 1.25rem;
            transition: 0.3s ease all;

            &:hover {
              color: rgba($primary, 0.9);
            }
          
          }
        }
      }
      button {
        cursor: pointer;
        outline: none;
        padding: 0.75rem 1.25rem;
        border-radius: $borderRadius;
        font-size: 1rem;
        font-family: inherit;
        background: $primary;
        color: $dark;
        border: 1px solid transparent;
        transition: 0.3s ease all;

        &:hover {
          border-color: $primary;
          background: rgba($primary, 0.1);
          color: $primary;
        }
        &:active {
          border-color: $primary;
          background: linear-gradient(rgba($primary, 0.2), rgba($primary, 0.3));
          color: $primary;
        }
      }
      &.isMenu {
        transform: translate(100%);
      }
    }
    &__toggle {
      // cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;

      //put toggle at bottom
      // position: fixed;
      // background: white;
      // padding: 8px;
      // border-radius: 53px;
      // bottom: 2rem;
      // right: 2rem;
      // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      &:hover {
        color: $primary;
      }

      @include breakpoint(md) {
        display: none;
      }
    }
  }
}
