@import "./../styles/variables.scss";

.menu {
  background: $light;
  position: fixed;
  z-index: 10;
  width: $headerHeight;
  height: 100vh;
  padding: 0 1rem;
  font-size: 1rem;
  transition: border-bottom 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  right: 0px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  transform: rotate(360deg);
  transform-origin: top right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: background-color, border-bottom;
  transition: background-color 0.6s cubic-bezier(0.19, 1, 0.22, 1),
    border-bottom 0.6s cubic-bezier(0.19, 1, 0.22, 1);

  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(100%);

  @include breakpoint(md) {
    transform: translateX(0%);
  }

  &__nav {
    opacity: 1;
    transform: matrix(0, -1, 1, 0, 0, 0);

    &__active{
      color: $dark!important;

      &:hover:after {
        width: 100%;
        color: $dark;
      }
    }

    ul {
      padding: 0;
      width: max-content;
      li {
        cursor: pointer;
        display: inline;
        position: relative;
        height: 1.1rem;
        padding: 0 0.6em;
        font-size: 0.8rem;
        line-height: 1.1rem;
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);

        &:first-child {
          margin-left: -22vh;
        }

        a {
          text-decoration: none;
          height: auto;
          padding: 0.3rem;
          color: #9b9b9b;
          text-transform: lowercase;
          transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
          position: relative;
          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            bottom: 0;
            height: 2px;
            margin: 2px 0;
            left: 0;
            background-color: rgb(0, 0, 0);
            transition: all 0.4s ease-in 0s;
          }
          &:hover:after {
            width: 100%;
            color: $dark;
          }
          &:hover{
            color: $dark;
          }
        }

        // Animation 3
        // Underline - Left to Right
        &.effect-three > a {
          display: inline-block;
          position: relative;
          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            bottom: 0;
            height: 2px;
            margin: -5px 0;
            left: 0;
            background-color: white;
            transition: all 0.4s ease-in 0s;
          }
          &:hover:after {
            width: 100%;
          }
        }
      }
    }
  }
}
